<!DOCTYPE html>
<html lang="en">
<head>
	<title>Brunch-Atl-App</title>
	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<!-- Google Fonts -->
	<!-- <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'> -->
	<link href='https://fonts.googleapis.com/css?family=Scope One' rel='stylesheet'>
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Custom Javascript -->
	<script type="text/javascript" src="scripts.js"></script>

</head>
<body>
	<div class="contain">
  		<div class="wrapper">
    	<div class="contacts">
			<address>
				<strong>Brunch-In-ATL</strong><br>
				3423 Piedmont Rd NE<br>
				Atlanta,Ga 30305 <br>
			</address>
			    <div class="form">
			      <h6>We love to hear from our fellow Brunch Enthusiasts!</h6>
			      <h6> Feel free to send us your suggestions or content ideas YOU would like to see added to the site.</h6>
			      <form action="">
			        <p>
			          <label for="">Name</label>
			          <input type="text">
			        </p>
			        <p>
			          <label for="">Email Address</label>
			          <input type="text">
			        </p>
			        <p>
			          <label for="">Topic</label>
			          <input type="text">
			        </p>
			        <p>
			          <label for="">Message</label>
			          <textarea name="" id="" cols="30" rows="7"></textarea>
			        </p>
			        <p>
			          <button>Send</button>
			        </p>
			      </form>
			    </div>
			  </div>
			</div>
</body>
</html>