<!DOCTYPE html>
<html lang="en">
<head>
	<title>Brunch-Atl-App</title>
	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<!-- Google Fonts -->
	<!-- <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'> -->
	<link href='https://fonts.googleapis.com/css?family=Scope One' rel='stylesheet'>
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Custom Javascript -->
	<script type="text/javascript" src="scripts.js"></script>

</head>
<body>
	<div><h1> Gallery Page</h1></div>
</body>
</html>

<!-- pseudo-code -->
<!-- 1. This page may have a tag line or main picture at the top and then a scrolling carousel for pictures.
2. Will primarily use HTMl5/Bootstrap(for mobile responsiveness)/CSS3 for structure and styling/designing this page.  -->