<!DOCTYPE html>
<html>
<head>
	<title>Brunch-Atl-App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
		<div class="container">
			<div class="row">
				<div class="header text-black col-sm-12 text-center">
					Welcome to Atlanta's Premier Brunch App
				</div>
					<ul>
						<li><a class="active" href="#Home">Home</a></li>
						<li><a href="#About">About</a></li>
						<li><a href="#Search">Search</a></li>
						<li><a href="#Specials">Specials</a></li>
						<li><a href="Reviews">Reviews</a></li>
						<li><a href="#Events">Events</a></li>
					</ul>
			</div>
				<div class="row">
					<div class="main-frame col-sm-12 text-center">
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholder
						Main frame-placeholderMain frame-placeholder
						Main frame-placeholderMain frame-placeholder
						Main frame-placeholder

					</div>
				</div>
		</div>
</body>
</html>
