<!DOCTYPE html>
<html>
<head>
	<title>Brunch-Atl-App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts.js"></script>


</head>
<body>
	<img src="https://colorado.ourcommunitynow.com/wp-content/uploads/sites/4/2016/12/villandry-pwf-0061home.jpg" alt="tech" class="img-responsive">
	<div class="container-fluid">
		<div class="row">
			<div class=" col-sm-12 text-center header">
				<i class="fa fa-coffee" aria-hidden="true"></i>
				<h1>Brunch-In-Atl</h1>
				<i class="fa fa-glass" aria-hidden="true"></i>
			</div> 
				<div class="row">
					<div class="col-sm-4 text-center search">
						<h1><a href="/search">Search</a></h1>
					</div>
<!-- 				
					<img src="https://colorado.ourcommunitynow.com/wp-content/uploads/sites/4/2016/12/villandry-pwf-0061home.jpg" alt="tech" class="img-responsive"> -->
				</div>
		</div>
 			<div class="row">
 				<footer class="col-sm-12 footer" >©️2017 All Rights Reserved / Created @Digital Crafts</footer>
 		</div>
 </div>
</body>
</html>
