<!DOCTYPE html>
<html lang="en">
<head>
	<title>Brunch-Atl-App</title>
	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<!-- Google Fonts -->
	<!-- <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'> -->
	<link href='https://fonts.googleapis.com/css?family=Scope One' rel='stylesheet'>
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Custom Javascript -->
	<script type="text/javascript" src="scripts.js"></script>

</head>
<body>
 <!-- <!Home Page Nav Bar -->
 <div class="container-fluid">
		 	<div class="row">
				 <div class="col-sm-2 text-center header">
				 		<i class="fa fa-coffee" aria-hidden="true"></i>
							<a><h2><em>Brunch-In-Atl<href="/#home"></em></h2></a>
						<i class="fa fa-glass" aria-hidden="true"></i>
				<!-- 			<nav class="breadcrumb">
				  				<a class="breadcrumb-item" href="#About">About</a>
				  				<a class="breadcrumb-item" href="#Search">Search</a>
				  				<a class="breadcrumb-item" href="#Gallery">Gallery</a>
				  				<a class="breadcrumb-item" href="#Blog">Blog</a>
				  				<a class="breadcrumb-item" href="#Contact">Contact</a>
							</nav>
						</div>
					</div> -->
					<nav class="navbar">
				  		<div class="col-sm-6">
				    		<ul class="nav navbar-nav">
								<ul id="menu">
									<li class="col-sm-1"><a id="about-link" href="/about">About</a></li>
									<li class="col-sm-1"><a id="search-link" href="/search">Search </a></li>
									<li class="col-sm-1"><a id="gallery-link" href="/gallery">Gallery</a></li>
									<li class="col-sm-1"><a id="blog-link" href="/blog">Blog</a></li>
									<li class="col-sm-1"><a id="contact-link" href="/contact">Contact</a></li>
								</ul>
							 </ul>
						</div>
					</nav> 
				</div>	
			</div>	

		<!-- <!-- ***********************Main Page Image*********************************************  -->
			<img src="https://colorado.ourcommunitynow.com/wp-content/uploads/sites/4/2016/12/villandry-pwf-0061home.jpg" alt="tech" class="img-fluid">			
			<!-- ***********************Main Page Footer*********************************************** -->
		 	<div class="row">
		 		<footer class="col-md-12 footer" >©️2017 All Rights Reserved / Custom Site Created by Porscha Johnson</footer>
		 	</div>
</div>
</body>
</html>
