<!DOCTYPE html>
<html lang="en">
<head>
	<title>Brunch-Atl-App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Google Fonts -->
	<!-- <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'> -->
	<link href='https://fonts.googleapis.com/css?family=Scope One' rel='stylesheet'>
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Custom Javascript -->
	<script type="text/javascript" src="scripts.js"></script>

</head>
<body>
 <!-- <!Home Page Nav Bar -->
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
  <div class="col-sm-6 col-sm-offset-6">
    <ul class="nav navbar-nav col-sm-2">
  		<header>
			<div class=" col-sm-1 text-center header">
				<i class="fa fa-coffee" aria-hidden="true"></i>
				<h2><em>Brunch-In-Atl</em></h2>
				<i class="fa fa-glass" aria-hidden="true"></i>
			</div> 
		</header> 
		<ul id="menu">
				<li class="col-sm-1"><a id="about-link" href="#about">About</a></li>
				<li class="col-sm-1"><a id="search-link" href="#search">Search </a></li>
				<li class="col-sm-1"><a id="gallery-link" href="#gallery">Gallery</a></li>
				<li class="col-sm-1"><a id="contact-link" href="#contact">Contact</a></li>
		</ul>
		</div>
    </ul>
    </div>
  </div>
</nav>
	<img src="https://colorado.ourcommunitynow.com/wp-content/uploads/sites/4/2016/12/villandry-pwf-0061home.jpg" alt="tech" class="img-responsive">
		<div class="row">
			<div class="col-sm-4 text-center search">
				<h1><a href="/search">Search</a></h1>
			</div>
<!-- 				
					<img src="https://colorado.ourcommunitynow.com/wp-content/uploads/sites/4/2016/12/villandry-pwf-0061home.jpg" alt="tech" class="img-responsive"> -->
				</div>
		</div>
 			<div class="row">
 				<footer class="col-sm-12 footer" >©️2017 All Rights Reserved / Created @Digital Crafts</footer>
 		</div>
 </div>
</body>
</html>
