<!DOCTYPE html>
<html>
<head>
	<title>Brunch-Atl-App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
		<div class="container">
			<div class="row">
				<div class="text-danger col-sm-12 text-center">
					Welcome to Atlanta's Go-To Brunch App
				</div>
			</div>
		</div>
</body>
</html>
