body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
  /* position:fixed; */
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}
.img-responsive{
  height: 91vh;
  margin: auto;
  width: 100vw;
  position: relative;
  top: 156px;
}
.header{
	top: -50em;
}

.header h1{
	/* border: 3px solid black; */
	border-bottom-width: 3px;
    margin-bottom: 10px;
    margin-top: -275px;
    font-family:'Bungee Shade';
    color:maroon;
    font-size: 90px;
    width: -10vw;
    margin-left: 30px;
    font-weight: bold;
}
.fa.fa-glass{
	font-size: 150px;
	color: beige;
	margin-left: -1050px;
	margin-top: -350px;

}
.fa-coffee{
	font-size: 500px;
	color: beige;
	margin-right: -1050px;
	/* margin-top: -350px; */

}
.search{
  top: -100em;
  right: -43em;
}

.search h1{
	border: 3px solid red;
}

.footer{
	font-size: 30px;
}

/* ********************************Search Page CSS************************************* */

.main-frame{
	margin-top: 101px;
	border: 3px solid gray;
	background-color: beige;
	border-radius: 9.5px;
	line-height: 48px;
}
