body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
  /* position:fixed; */
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  position: relative;
}
#headerNav {
  position: fixed;
    top: 0px;
    left: 0px;
  /* top: 8px; */
  /* right: 16px; */
  /* font-size: 2em; */
    /* background-color:white; */
    height: 60px;
    width: 100%;
    z-index: 3;
}


.navbar-nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 24px;
    /* background-color: white; */
}

#about-link, #events-link, #search-link, #gallery-link, #contact-link{
  color: black;
  text-decoration: none;
  font-family: 'Scope One', serif;
}

.navbar-brand{
    top: 8px;
    left: 8px;
    font-size: 18px;
    float: left;
}

#menu li{
  font-size: 2em;
}

#menu{
  width: 110vw;
  margin-top: -5em;
}
.img-fluid{
  height: 88vh;
  margin: auto;
  width: 90em;
  /* position: relative; */
  top: 0em;
}

.header h2{
    border-bottom-width: 3px;
    margin-top: 0em;
    font-family: 'Scope One';
    color:maroon;
    /* font-size: 2em; */
    width: -10vw;
    /* margin-left: -35em; */
    font-weight: bold;
    border: solid black 1px;
}

.fa-glass{
	font-size: 1em;
	color: beige;
	left: -2.5em;
	top: -2.5em;
  position:relative;

}
.fa-coffee{
	font-size: 1em;
	color: beige;
	right: -3em;
  position: relative;
  top:4.5em;
  /* right: 80em; */
  /* top: 3.5em; */

}

.footer{
	font-size: 1em;
  bottom: -1em;
}

/* ********************************Search Page CSS************************************* */

.main-frame{
	margin-top: 101px;
	border: 3px solid gray;
	background-color: beige;
	border-radius: 9.5px;
	line-height: 48px;
}

/* .search{
  top: -100em;
  right: -43em;
} */

/* .search h1{
  border: 3px solid red;
} */
